[Desktop Entry]
Name=Darlehensliste
Comment=Globale Darlehensliste
Exec=google-chrome --new-window --class=darlehen --app=https://pemba.direct.quickconnect.to:5001/oo/r/600758219851215141#tid=1 --user-data-dir=/home/thyriaen/.webapps/darlehen %U
Terminal=false
Icon=wps-office-etmain
Type=Application
StartupWMClass=darlehen
Categories=Network;
