* {
    all: unset;
}

.achievement-display {
    background-color: transparent;
    //border: 1px solid red;
}

.achievement-display-full {
    //border-radius: 32px;
    background-color: transparent;
}

.ribbon-title {
    color: #e5b139;
    font-family: "Cinzel";
    font-weight: 800;
    font-size: 42px;
    text-shadow:
        0px -1px 0 #fcde7e,
        0px 2px 0 #bf8013,
        -2px 2px 0 #7f4801,
        -3px 3px 2px rgba(0, 0, 0, 0.9);
}

.ribbon-subtitle {
    color: #c1c6cc;
    font-family: "Cinzel";
    font-weight: 500;
    font-size: 36px;
    text-shadow:
        0px -1px 0 #cbcac7,
        0px 2px 0 #898f99,
        -2px 2px 0 #2b2d33,
        -3px 3px 2px rgba(0, 0, 0, 0.9);
}

.ribbon-row {
    background-color: transparent;
    //border: 1px solid lime;
}

.ribbon-area {
    background-color: transparent;
    //border: 1px solid purple;
}

.ribbon {
    background-color: transparent;
    //border: 1px solid teal;
}

.badge {
    background-color: transparent;
    //border: 1px solid yellow;
}
