[Desktop Entry]
Name=Signal
Exec=env ELECTRON_OZONE_PLATFORM_HINT=wayland /usr/bin/signal-desktop --use-tray-icon %U
Terminal=false
Type=Application
Icon=signal-desktop
StartupWMClass=Signal
Comment=Private messaging from your desktop
MimeType=x-scheme-handler/sgnl;
Categories=Network;InstantMessaging;Chat;
