* {
    all: unset;
}

.achievement-display {
    background-color: transparent;
    border: 1px solid red;
}

.ribbon-row {
    background-color: transparent;
    border: 1px solid lime;
}

.ribbon-area {
    background-color: transparent;
    border: 1px solid purple;
}

.ribbon {
    background-color: transparent;
}

.badge {
    background-color: transparent;
    border: 1px solid yellow;
}
